{% extends 'mainApp\wrapper.html' %}

{% block content %}
<div class="display-flex justify-content-center">
  <h1> SingUp</h1>
  <br>
  {% if error %}
  {{error}}
  <br>
  <br>
  {% endif %}
</div>

<div class="display-flex justify-content-center">
  <form id="signupForm" class="display-flex justify-content-center flex-direction-column" action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <p class="margin-0">UserName:</p>
    <input type="text" name="username">
    <p class="margin-0">Password:</p>
    <input type="password" name="password" value="">
    <p class="margin-0">Confirm password:</p>
    <input type="password" name="confPassword" value="">
    <input type="submit" class="btn btn-primary margin-0" value="Реєстрація">

  </form>
</div>

{% endblock content %}
